# Logs
logs
*.log

# Dependency directories
node_modules/
package-lock.json

# Environment variables
.env

# Output of build tools
dist/
build/
out/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace

# Miscellaneous
*.swp
.DS_Store

# Python
python/__pycache__/*
python/infer_pack/__pycache__/*

# Bot
models/
zips/
src/config.json
rmvpe.pt
hubert_base.pt
audios/
ffmpeg.exe
ffprobe.exe