{
  "token": "X",
  "clientId": "X",
  
  "devsID": "X",
  "moderatorRoleID": "X",
  "logsChannelID": "X",
  
  "bot_perms": "1376674433127",
  "support_server": "X",

  "prodia_token": "X",
  "chatGPT_url": "X",

  "mongodbURL": "X"
}
