{
  "token": "",
  "client_id": "",
  
  "devs_id": "",
  "moderator_role": "",
  "logs_channel": "",
  
  "bot_perms": "1376674433127",
  "support_server": "",
  
  "applio_api_key": "",
  "mongodb_url": "",
}
